FROM alpine:3.10.2

RUN apk add --no-cache \
  bash \
  ruby \
  alpine-sdk \
  boost-dev \
  gtest-dev \
  gmock \
  cmake \
  qt5-qtbase-dev \
  ruby-rake \
  ruby-rdoc \
  ruby-dev \
  git

ARG USER={{ cucumber_user }}

RUN apk add --no-cache shadow && useradd -ms /bin/bash $USER && apk del shadow

#Bundler
RUN gem install bundler


################
# CUCUMBER CPP #
################

WORKDIR /home/$USER

RUN git clone https://github.com/cucumber/cucumber-cpp
WORKDIR /home/$USER/cucumber-cpp
RUN bundle install

RUN git submodule init
RUN git submodule update


RUN cmake -E make_directory build
RUN cmake -E chdir build cmake -DCUKE_ENABLE_EXAMPLES=on -DCMAKE_INSTALL_PREFIX=/usr ..
RUN cmake --build build -j 8
RUN cmake --build build --target test -j 8
RUN cmake --build build --target install
RUN cmake --build build --target features

#Does not work yet - use junit cucumber output instead
#RUN gem install allure-cucumber 

###Be the user
USER $USER
WORKDIR /home/$USER/
