FROM cucumber-cpp

ARG USER={{ cucumber_user }}

USER root

RUN apk add --no-cache automake autoconf flex flex-dev bison systemc-dev

USER $USER

WORKDIR /home/$USER
RUN git clone https://github.com/verilator/verilator
WORKDIR /home/$USER/verilator

USER root

USER $USER
RUN autoconf
RUN ./configure
RUN make -j 8

USER root

RUN make install

USER $USER
WORKDIR /home/$USER
