FROM ubuntu:{{ quartus_ubuntu }}

RUN \
  apt-get update \
  && apt-get -y install make locales wget libtcmalloc-minimal4 libglib2.0-0 \
  && rm -rf /var/lib/apt/lists/* \
  && echo "en_US.UTF-8 UTF-8" > /etc/locale.gen \
  && locale-gen en_US.UTF-8 \
  && /usr/sbin/update-locale LANG=en_US.UTF-8

RUN \
  mkdir -p /install \
  && cd /install \
  && wget http://download.altera.com/akdlm/software/acdsinst/{{ quartus_major }}.{{ quartus_minor }}std/{{ quartus_patch }}/ib_tar/Quartus-lite-{{ quartus_major }}.{{ quartus_minor }}.{{ quartus_patch }}.{{ quartus_hotfix }}-linux.tar \
  && tar xvf Quartus-lite-{{ quartus_major }}.{{ quartus_minor }}.{{ quartus_patch }}.{{ quartus_hotfix }}-linux.tar \
  && cd /install/components \
  && ./QuartusLiteSetup-{{ quartus_major }}.{{ quartus_minor }}.{{ quartus_patch }}.{{ quartus_hotfix }}-linux.run \
    --mode unattended \
    --accept_eula 1 \
    --disable-components arria_lite,cyclone,cyclone10lp,cyclonev,max,max10,quartus_update,quartus_help,modelsim_ase,modelsim_ae \
    --installdir /opt \
  && cd / \
  && rm /install -rf \
  && rm -rf \
   /opt/uninstall \
   /opt/ip \
   /opt/devdata \
   /opt/logs \
   /opt/nios2eds \
   /opt/quartus/common/help \
   /opt/modelsim_ase \
   /opt/quartus/common/htdocs \
   /opt/quartus/common/ip \
   /opt/quartus/common/templates \
   /opt/quartus/bin/qt_example_app \
   /opt/quartus/libraries \
   /opt/quartus/linux64/python \
   /opt/quartus/linux64/qt \
   /opt/quartus/linux64/perl \
   /opt/quartus/linux64/jre64 \
   /opt/quartus/linux64/libQtWeb* \
   /opt/quartus/linux64/libQtGui* \
   /opt/quartus/linux64/libQtDBus* \
   /opt/quartus/linux64/libQtTest* \
   /opt/quartus/linux64/libQtSvg* \
   /opt/quartus/linux64/libQtNetwork* \
   /opt/quartus/linux64/libQtSql* \
   /opt/quartus/linux64/libQtXml* \
   /opt/quartus/linux64/libQtDeclarative* \
   /opt/quartus/common/python \
  && find /opt -type f \( \
  -name "*.html" \
  -o -name "*.xhtml" \
  -o -name "*.gif" \
  -o -name "*.jpg" \
  -o -name "*.jpeg" \
  \) \
  | xargs -i rm "{}" \
  && rm /opt/quartus/linux64/libboost_system.so -f \
  && rm /opt/quartus/linux64/libccl_curl_drl.so -f \
  && rm /opt/quartus/linux64/libstdc++.so.6 -f

RUN wget https://github.com/Kitware/CMake/releases/download/v{{ quartus_cmake_major }}.{{ quartus_cmake_minor }}.{{ quartus_cmake_patch }}/cmake-{{ quartus_cmake_major }}.{{ quartus_cmake_minor }}.{{ quartus_cmake_patch }}-Linux-x86_64.sh \
  && sh cmake-{{ quartus_cmake_major }}.{{ quartus_cmake_minor }}.{{ quartus_cmake_patch }}-Linux-x86_64.sh --skip-license --prefix=/usr \
  && rm cmake-{{ quartus_cmake_major }}.{{ quartus_cmake_minor }}.{{ quartus_cmake_patch }}-Linux-x86_64.sh

COPY FindQuartus.cmake /usr/share/cmake-{{ quartus_cmake_major }}.{{ quartus_cmake_minor }}/Modules/FindQuartus.cmake

ENV PATH=/opt/quartus/bin:${PATH}
ENV LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc_minimal.so.4

LABEL quartus_version="{{ quartus_major }}.{{ quartus_minor }}.{{ quartus_patch }}.{{ quartus_hotfix }}" \
      cmake_version="{{ quartus_cmake_major }}.{{ quartus_cmake_minor }}.{{ quartus_cmake_patch }}" \
      ubuntu_version="{{ quartus_ubuntu }}" \
      chip_family="{{ quartus_chip_family }}" \
      dockerfile_template_creation="{{ image_timestamp }}"
      project="rad_pipeline"
