FROM registry

RUN mkdir /etc/docker/certs.d/{{ registry_hostname }}:{{ registry_port }} -p && mkdir -p /etc/ssl/private

COPY docker-registry.pem /certs/docker-registry.pem
COPY docker-registry.crt /certs/docker-registry.crt

ENV REGISTRY_HTTP_TLS_CERTIFICATE=/certs/docker-registry.crt
ENV REGISTRY_HTTP_TLS_KEY=/certs/docker-registry.pem

ENTRYPOINT ["/entrypoint.sh"]
CMD ["/etc/docker/registry/config.yml"]
